@use "../global/global" as g;

.mv {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: g.$color-gray;

    &__canvas {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: map-get(g.$z, 'canvas');
        opacity: 0;
    }
    &__title {
        position: absolute;
        top: g.get_vw(200);
        left: g.get_vw(100);
        @include g.mq(mobile) {
            top: g.get_vw(200);
            left: g.get_vw(50);
        }
    }
    &__wrapper {
        overflow: hidden;
    }
    &__text {
        display: inline-block;
        transform: translate3d(0, 100%, 0);
        font-size: g.get_vw(110);
        font-family: g.$font-all;
        color: g.$color-black;
        @include g.mq(mobile) {
            font-size: g.get_vw(100);
        }
    }
    &__sub-title {
        position: absolute;
        top: g.get_vw(330);
        left: g.get_vw(100);
        @include g.mq(mobile) {
            top: g.get_vw(300);
            left: g.get_vw(50);
        }
    }
    &__sub-text {
        display: inline-block;
        transform: translate3d(0, 100%, 0);
        font-size: g.get_vw(35);
        font-family: g.$font-all;
        color: g.$color-black;
        text-indent: 2px;
        @include g.mq(mobile) {
            font-size: g.get_vw(35);
        }
    }
    &__links {
        position: absolute;
        top: g.get_vw(730);
        left: g.get_vw(100);
        z-index: map-get(g.$z, 'link');
        @include g.mq(mobile) {
            top: auto;
            bottom: g.get_vw(200);
            left: g.get_vw(50);
        }
    }
    &__link {
        display: inline-block;
        color: g.$color-black;
        font-family: g.$font-all;
        font-size: g.get_vw(35);
        transform: translate3d(0, 100%, 0);
        margin: 0 g.get_vw(10) 0 0;
        transition: g.$easeCustom1 0.6s;
        text-decoration: none;
        @include g.mq(mobile) {
            font-size: g.get_vw(40);
            margin: 0 g.get_vw(15) 0 0;
        }
        &::after {
            content: attr(data-hover);
            position: absolute;
            left: 0;
            bottom: 0;
            transform: rotateX(90deg);
            transition: g.$easeCustom1 0.3s;
            opacity: 0;
            color: g.$color-blue;
            height: 0;
        }
        &:hover {
            color: transparent;

            &::after {
                transform: rotateX(0deg);
                top: 0;
                opacity: 1;
                height: 100%;
            }
        }
        &:visited {
            text-decoration: none;
        }
    }
}
